*{
  font-size: 20px;
  line-height: 20px;
  font-family: OCR A Std, monospace;
  color: rgb(0, 77, 6);
  background-color: rgb(255, 255, 255);
  text-align: center;
}
#titulo{
  background-color: rgb(126, 240, 20);
  color: hsl(0, 0%, 100%);
  width: 100%;
  text-align: center;
  font-family: OCR A Std, monospace;
  line-height: 100px;
  font-size: 30px;
  border-radius: 20%;
}
#criar-tarefa{
  color: hsl(118, 100%, 50%);
  background-color:rgb(255, 255, 255);
}
.completed{
 text-decoration: line-through;
 color: hsl(118, 100%, 50%);
 font-size: 25px;
 border: 2px solid black;
 text-align: left;
 display: inline-block;
 vertical-align: middle;
 background-color: aliceblue;
}
#texto-tarefa{
  font-size: 12px;
}
